.jumbotron
  %h1.text-center Missing Text
.container
  - if @batch.blank?
    .row
      .col-md-offset-2.col-md-8
        %p.welcome
          = "Thank you for trying Missing Text! When you click the button below, this engine will search for and display any missing translations from your locale files below. These sessions will be versioned, so you will have the ability to navigate them by date, or clear their history."

        %p.welcome
          = "Please visit the Missing Text github for full configuration options."
    .row
      .text-center
        = link_to "Run Missing Text", rerun_path, class: "btn btn-lg btn-primary run-missing-text-btn"

  - else
    .row
      .controls
        .col-md-offset-3.col-md-2.running-actions
          = link_to "Re-Run Missing Text", rerun_path, class: "btn btn-md btn-primary run-missing-text-btn"
        .col-md-2.running-actions
          .dropdown
            %a{id: "dLabel", href: '#', role: "button", :"data-target" => '#', :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false", class: "btn btn-md btn-info"}
              See translations on...
              %span{class: "caret"}

            %ul{class: "dropdown-menu", role: "menu", :"aria-labelledby" => "dLabel"}
              - batches = MissingText::Batch.history_options(@batch)
              - if batches.blank?
                %li
                  %a{href: '#'} No older Missing Text sessions!
              - else
                - batches.each do |batch|
                  %li
                    %a{href: root_path(id: batch.id)}= "#{batch.created_time}"
        .col-md-2.running-actions
          .btn.btn-md.clear-btn{data: {toggle: 'modal', target: '#clear_history_modal'}} Clear History


          #clear_history_modal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  %button{class: 'close', data: {dismiss: 'modal'}}
                    &times;
                  %h4 Clear History

                .modal-body
                  %p Are you sure you wish to clear your history? This will delete all past sessions of Missing Text.

                .modal-footer
                  %button{class: "btn btn-default", data: {dismiss: "modal"}} Cancel
                  = link_to "Clear History", clear_history_path, class: "btn btn-danger", id: "clear-btn-modal"
    - if @warnings.present?
      - @warnings.each do |warning|
        .row
          .col-md-offset-1.col-md-10.col-md-offset-1
            .alert.alert-danger.text-center
              = warning.message

    .row
      .text-center
        %h3.title-text= "Missing text last run on #{@batch.created_time}:"
        .collapse-note Click on panel headers to collapse sections
      - @records.each do |record|
        - if record.entries.present?
          .panel-group{id: "accordian", role: "tablist", :"aria-multiselectable" => "true"}
            .panel.panel-default
              .panel-heading{role: "tab", id: "record_#{record.id}_heading"}
                %h4.panel-title
                  %a{:"data-toggle" => "collapse", :"data-parent" => "accordion", href: "#collapse_record#{record.id}", :"aria-expanded" => "true", :"aria-controls" => "#collapse_record#{record.id}"}
                    In 
                    %code= "#{File.expand_path('..', record.files.first[:path])}"
                    the following entries are missing:
              .panel-collapse.collapse.in{id: "collapse_record#{record.id}", role: "tabpanel", :"aria-labelledby" => "record_#{record.id}"}
                .panel-body
                  - record.entries.group_by(&:base_language).each do |base_language, entries|
                    %h4
                      Missing 
                      %code= "#{base_language}"
                      entries

                    %table.table-striped
                      %thead
                        %tr
                          %th Key
                          %th Missing from
                          %th
                            Text in
                            %code #{base_language}
                      %tbody
                        - entries.each do |entry|
                          %tr
                            %th
                              %code= "#{entry.locale_code}"
                            %td
                              %code= "#{entry.target_languages.join(', ')}"
                            %td= "#{entry.base_string}"

:coffeescript
  $('#clear-btn-modal').click ->
    $(this).text("Clearing History. One Moment Please!")

  $('.run-missing-text-btn').click ->
    waitingDialog.show('Now running! This may take a while if you have a lot of large locale files.')
